<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
</head>
<h2>States Index Page</h2>

<div class="dropdown">
  <button class="dropbtn">Year</button>
  <div class="dropdown-content">
    <a href="#">2009</a>
    <a href="#">2010</a>
    <a href="#">2011</a>
    <a href="#">2012</a>
    <a href="#">2013</a>
  </div>
</div>

<script src="us_map.js"></script>

<div>This should be a bar graph</div>

<script src="graphs-index.js"></script>
