
<h2> <%= @state.state %> Show Page</h2>
<h3> <%=@state.stations.count %> Stations</h3> <!--This does not work...relationship may not be correct-->

<div> <%= link_to "Home", root_path %> </div>



<div id="map"></div>
