<!DOCTYPE html>
<html>
<head>
  <title>ElectricVehiclesMap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
</head>
<body>
  <h1>Electric Vehicle Data Visualization</h1>

<%= yield %>

</body>
</html>
